{{ define "main" }}

<section class="section gallery">
  <div id="createYourOwn" class="container">
    <div class="row">
      
      <div class="col-12 text-center mb-5">
        <h1 class="font-weight-bold">{{.Title}}</h1>
      </div>

      <div class="col-12 text-center mb-4">
        <p>
          {{.Content}}
        </p>
      </div>
            
      {{- partial "upsell-modal.html" . -}}

      <div id="selectedProducts" class="row col-12 mb-5 box-shadow border-radius subtle-background">
        <div id="selectedProductsRow" class="row">
        </div>
          
        <div class="row col-12">
          <div class="col-12 mb-4">
            <button id="openModal" class="btn btn-main" data-bs-container="body" data-bs-toggle="popover" data-bs-placement="right" data-bs-content="Vivamus sagittis lacus vel augue laoreet rutrum faucibus.">{{i18n "add_to_cart"}}</button>
          </div>
        </div>
      </div>

      {{ range .Params.products }}
      <div class="col-lg-3 col-md-4 col-sm-6 mb-4">
        <div class="block">
          <div class="gallery-overlay pointer product">
            <div class="gallery-popup">
              <i class="tf-ion-android-add-circle"></i>
            </div>
            
            <div data-option-name="{{.option_name}}" class="mini d-none col-lg-2 col-md-4 col-sm-6 mb-2">
              <div class="block"> 
                <div class="gallery-overlay pointer">
                  <div class="gallery-popup">
                    <i class="tf-ion-android-cancel"></i>
                  </div>
                </div>
                <img class="img-fluid border-radius" src="{{ .image | absURL }}" alt="{{.name}}">
              </div>
            </div>
          </div>
          <img class="img-fluid border-radius" src="{{ .image | absURL }}" alt="{{.name}}">
        </div>
        <div class="product-info">
          <h4 class="mb-2">{{.name}}</h4>
          
          <p class="price">
            {{ .price }}
          </p>
        </div>        
      </div>
      {{end}}
    </div>
  </div>
</section>

{{ end }}