{{ define "main" }}

<section class="section gallery">
  <div class="container">
    <div class="row">
      
      <div class="col-12 text-center mb-5">
        <h1 class="font-weight-bold">{{.Title}}</h1>
      </div>

      <div class="col-12 text-center mb-4">
        <p>
          {{.Content}}
        </p>
      </div>

      <div class="row col-12 mb-5 box-shadow border-radius subtle-background">
        <div class="row">
          <div class="col-lg-2 col-md-4 col-sm-6 mb-2">
            <div class="block"> 
              <div class="gallery-overlay">
                <div class="gallery-popup">
                  <i class="tf-ion-android-cancel"></i>
                </div>
              </div>
              <img class="img-fluid border-radius" src="../../images/red onion savoury box.jpg" alt="some name">
            </div>
          </div>
            
          <div class="col-lg-2 col-md-4 col-sm-6 mb-2">
            <div class="block"> 
              <div class="gallery-overlay">
                <div class="gallery-popup">
                  <i class="tf-ion-android-cancel"></i>
                </div>
              </div>
              <img class="img-fluid border-radius" src="../../images/red onion savoury box.jpg" alt="some name">
            </div>
          </div>
            
          <div class="col-lg-2 col-md-4 col-sm-6 mb-2">
            <div class="block"> 
              <div class="gallery-overlay">
                <div class="gallery-popup">
                  <i class="tf-ion-android-cancel"></i>
                </div>
              </div>
              <img class="img-fluid border-radius" src="../../images/red onion savoury box.jpg" alt="some name">
            </div>
          </div>
        </div>
        <div class="row col-12">
          <div class="col-12 mb-4">
            <button class="snipcart-add-item btn btn-main">Add to cart</button>
          </div>
        </div>
      </div>

      {{ range .Params.options }}
      <div class="col-lg-3 col-md-4 col-sm-6 mb-4">
        <div class="block">
          <div class="gallery-overlay">
            <div class="gallery-popup">
              <i class="tf-ion-android-add-circle"></i>
            </div>
          </div>
          <img class="img-fluid border-radius" src="{{ .image | absURL }}" alt="{{.name}}">
        </div>
        <div class="product-info">
          <h4 class="mb-2">{{.name}}</h4>
          
          <p class="price">
            {{ .price }}
          </p>
        </div> 
      </div>
      {{end}}
    </div>
  </div>
</section>

{{ end }}