{{ define "main" }}

<section class="section gallery">
  <div id="createYourOwn" class="container">
    <div class="row">

      <div class="col-12 text-center mb-5">
        <h1 class="font-weight-bold">{{.Title}}</h1>
      </div>

      <div class="col-12 text-center mb-4">
        <p>
          {{.Content}}
        </p>
      </div>

      {{- partial "upsell-modal.html" . -}}
      {{- partial "alcohol-modal.html" . -}}

      <div id="selectedProducts" class="row col-12 mb-5 box-shadow border-radius subtle-background">
        <div class="row">
          <div class="mobile-d-flex mobile-justify-content-center mb-4 col">
            <h2 class="center mt-2">Your box</h2>
          </div>
        </div>
        <div id="selectedProductsRow" class="row">
          <div class="col-xl-2 col-lg-3 col-md-4 col-sm-4 mb-2 mini-product">
            <div class="block" data-toggle="tooltip" data-placement="top" title="{{ .Params.packaging_image_alt }}">
              <img class="img-fluid border-radius" src="{{ .Params.packaging_image | absURL }}"
                alt="{{ .Params.packaging_image_alt }}" loading="lazy">
            </div>
            <div class="p-3">
              <h4 class="mb-2">Box Price</h4>
              <p class="price">
                &pound;{{ .Params.price }}
              </p>
            </div>
          </div>
        </div>

        <div class="row">
          <div class="mobile-d-flex mobile-justify-content-center mb-4 col">
            <button id="openModal" class="btn btn-main">
              {{i18n "add_to_cart"}}
              <span id="total" class="total badge badge-primary">0.00</span>
            </button>
          </div>
        </div>
      </div>

      {{ range .Params.products }}
      <div class="col-xl-3 col-lg-4 col-md-4 col-sm-6 col-6 mb-4">
        <div class="block">
          <div class="gallery-overlay pointer product">
            <div class="gallery-popup">
              <i class="tf-ion-android-add-circle"></i>
            </div>

            <div data-option-name="{{.option_name}}" data-option-alcohol="{{.alcohol_warning}}" data-option-price="{{.price}}"
              class="mini pointer d-none col-xl-2 col-lg-3 col-md-4 col-sm-4 mini-product mb-2">
              <div class="block" data-toggle="tooltip" data-placement="top"
                title="{{.option_name }} - &pound;{{ lang.NumFmt 2 (div .price 100.0) }}">
                <i class="fas fa-times-circle fa-2x position-absolute remove"></i>
                <div class="gallery-overlay pointer">
                  <div class="gallery-popup">
                    <i class="tf-ion-android-cancel"></i>
                  </div>
                </div>
                <img class="img-fluid border-radius" src='{{ path.Join "/images/thumbs/" (path.Base .image) | absURL }}' alt="{{.name}}" loading="lazy">
              </div>
              <div class="px-1 py-0">
                <h4 class="mb-2">{{.name}}</h4>
                <p class="price">
                  &pound;{{ lang.NumFmt 2 (div .price 100.0) }}
                </p>
              </div>
            </div>
          </div>
          <img class="img-fluid border-radius" src='{{ path.Join "/images/thumbs/" (path.Base .image) | absURL }}' alt="{{.name}}" loading="lazy">
        </div>

        <div class="d-flex justify-content-center mb-4 col">
          <button class="btn btn-main py-1 create-your-own-add">
            Add
          </button>
        </div>

        <div class="product-info">
          <h4 class="mb-2">{{.name}}</h4>

          <p class="price">
            &pound;{{ lang.NumFmt 2 (div .price 100.0) }}
          </p>
          <p class="reduced-size-text">{{ .description }}</p>
        </div>
      </div>
      {{end}}

      <div class="position-fixed bottom-0 right-0 p-3" style="z-index: 5; right: 0; bottom: 0;">
        <div id="liveToast" class="toast hide" role="alert" aria-live="assertive" aria-atomic="true"
          data-delay="999000">
          <div class="toast-header subtle-background">
            <i class="tf-ion-android-cart"></i>
            &nbsp;&nbsp;
            <strong class="mr-auto">Added!</strong>
            <button type="button" class="ml-2 mb-1 close" data-dismiss="toast" aria-label="Close">
              <span aria-hidden="true">&times;</span>
            </button>
          </div>
          <div class="toast-body subtle-background px-5 py-4">
            <div>Your total is <span class="total"></span></div>
            <a alt="Review your box" id="reviewYourBox" href="#">Review your box.</a>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>

{{ end }}