<!-- Modal -->
<div class="modal fade" id="alcoholAgeCheck" data-backdrop="static" data-keyboard="false" tabindex="-1" aria-labelledby="staticBackdropLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header text-center">
        <h5 class="modal-title text-center" id="alcoholAgeCheck"><i class="fas fa-exclamation-circle fa-1x"></i>&nbsp;&nbsp;&nbsp;Age verification</h5>      </div>
      <div class="modal-body">
        <p>Please confirm that you and the recipient are over the age of 18 as some of the items in this gift box are age restricted. Proof of ID will be required upon delivery.</p>
      </div>
      <div class="modal-footer">
        <button id="alcoholModalReject" type="button" class="btn btn-main btn-main-sm">Reject</button>
        <button id="alcoholModalConfirm" type="button" class="btn btn-main btn-main-sm" data-dismiss="modal">Confirm</button>
      </div>
    </div>
  </div>
</div>