<!-- Modal -->
<div class="modal fade" id="alcoholAgeCheck" data-backdrop="static" data-keyboard="false" tabindex="-1" aria-labelledby="staticBackdropLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header text-center">
        <h5 class="modal-title text-center" id="alcoholAgeCheck"><i class="fas fa-exclamation-circle fa-1x"></i>&nbsp;&nbsp;&nbsp;Age verification</h5>      </div>
      <div class="modal-body">
        <p>As part of our commitment to promoting responsible drinking, we require our customers to confirm they are of legal drinking age in their country of origin.</p>
        <p>By clicking Confirm below you agree that upon accessing certain products <span class="font-weight-bold">you're currently of legal drinking age and accept that delivery of alcoholic products will require age verification upon arrival.</span></p>
      </div>
      <div class="modal-footer">
        <button id="alcoholModalReject" type="button" class="btn btn-main btn-main-sm">Reject</button>
        <button id="alcoholModalConfirm" type="button" class="btn btn-main btn-main-sm" data-dismiss="modal">Confirm</button>
      </div>
    </div>
  </div>
</div>