<div class="alert alert-light" role="alert">
  <h4 class="alert-heading"><i class="fas fa-cookie-bite fa-1x"></i>&nbsp;&nbsp;Cookies nom nom</h4>
  <p class="mt-3">We use cookies to help us track the items you view on our website. We don't use this for direct marketing, nor do we track you personally. Please read our <a href="/general/cookies">cookie policy</a> for more info.</p>
  <hr>
  <p class="mt-0">
    <button class="btn btn-main btn-main-sm mt-2">No thanks</button>
    <button class="btn btn-main btn-main-sm mt-2">Ok I like cookies</button>
  </p>
</div>