<footer>
  <div class="container text-center">
    <div class="row">
      <div class="col-md-12">
        <div class="block">
          <a href="{{ site.BaseURL | relLangURL }}" class="mb-4 d-inline-block">{{ if site.Params.logo }} <img src="{{ site.Params.logo | absURL }}" alt="{{ site.Title }}" {{with site.Params.logo_width}}width="{{.}}"{{end}}> {{ else }} {{ .Title }} {{ end }}</a>

          <ul class="list-inline footer-menu">
            {{ range site.Params.socialmedia}}
            <li class="list-inline-item mb-4">
              <a href="{{ .link }}"><i class="fab {{ .icon }} fa-2x"></i></a>
            </li>
            {{ end }}
          </ul>

          <ul class="list-inline footer-menu">
            {{ range site.Menus.footer }}
            <li class="list-inline-item">
              <a href="{{ .URL | absLangURL }}">{{ .Name }}</a>
            </li>
            {{ end }}
          </ul>
          <p class="copyright-text">{{ site.Params.copyright | markdownify }}</p>
        </div>
      </div>
    </div>
  </div>
</footer>


<!-- Snipcart public key -->
{{with site.Params.snipcart_api}}
  <div id="snipcart" data-api-key="{{.}}" hidden>
    <address-fields section="top">
      <div>
        <div class="mt-2">
          <snipcart-label for="phone">
              Phone number
          </snipcart-label>
          <snipcart-input name="phone">
          </snipcart-input>
        </div>
        <div class="mt-3">
          <snipcart-checkbox name="no-marketing"></snipcart-checkbox>
          <snipcart-label for="no-marketing">Please click here if you do NOT wish to be contacted for marketing</snipcart-label>
        </div>
      </div>
    </address-fields>
  </div>
{{end}}

<!-- JS Plugins -->
{{ range site.Params.plugins.js}}
<script src="{{ .link | absURL }}"></script>
{{ end }}

<!-- Main Script -->
{{ $script := resources.Get "js/script.js" }}
<script src="{{ $script.Permalink }}"></script>

<script>
  window.onload = function() {
    Snipcart.events.on('theme.routechanged', (routesChange) => {
      if (routesChange.from === "/" && routesChange.to !== "/") {
        document.getElementById('notification-banner').style.display = "none";
      }

      if (routesChange.from !== "/" && routesChange.to === "/") {
        document.getElementById('notification-banner').style.display = "block";
      }
    });
  }
</script>