<section class="section gallery">
  <div class="container">
    <div class="row">
      <div class="col-12 text-center mb-5">
        <h1 class="font-weight-bold">{{.Title}}</h1>
      </div>

      <div class="col-12 text-center mb-4">
        <p>
          {{.Content}}
        </p>
      </div>

      <div class="col-12">
        {{ $categories := slice }}
        {{ range .Pages }}
          {{ if .Params.categories }}
            {{ $categories  = $categories | append .Params.categories }}
          {{ end }}
        {{ end }}
          
        <div class="form-row">
          <div class="form-group col-md-3">
            <input type="text" class="form-control" placeholder="Search" id="productSearch">
          </div>
          <div class="form-group col-md-3">
            <select id="productCategory" class="custom-select">
              <option value="">Categories</option>
              {{ range $categories | sort | uniq }}
                <option value="{{ . }}">{{ . }}</option>
              {{ end }}
            </select>
          </div>
          <div class="form-group col-md-6">
          </div>
        </div>
      </div>

      {{ range .Pages }}
      <div class="col-lg-3 col-md-4 col-sm-6 col-6 mb-4 product-list">
        <div class="block">
          {{if not .Params.coming_soon}}  
          <div class="gallery-overlay">
            <a href="{{ .Permalink }}" class="gallery-popup">
              <i class="tf-ion-android-open"></i>
            </a>
          </div>
          {{end}}
          <img class="img-fluid" src='{{range first 1 .Params.images}}{{ path.Join "/images/thumbs/" (path.Base .) | absURL }}{{end}}' alt="{{.Title}}" loading="lazy">
        </div>
        <div class="product-info">
          <h4 class="mb-2">{{.Title}}</h4>
          <input type="hidden" class="description" value="{{ .Title }} {{ .Description }}">          
          <input type="hidden" class="categories" value='{{ if .Params.categories }}{{ delimit .Params.categories "," }}{{ end }}'>
          
          <p class="price">
            {{if not .Params.coming_soon}}
              {{if .Params.discount_price}}{{site.Params.currency}}{{.Params.discount_price}}{{else}}{{site.Params.currency}}{{.Params.price}}{{end}}
              {{if .Params.discount_price}}<s class="price">{{site.Params.currency}}{{ .Params.price }}</s>{{end}}       
            {{end}}
          </p>
        </div> 
      </div>
      {{ end }}
    </div>
  </div>
</section>