<div id="modalSelector" class="modal" tabindex="-1" role="dialog">
  <div class="modal-dialog modal-xl" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title">Add a greeting card?</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body card-options">
        <div class="container">
          <div class="row">
            <div class="col-xl-2 col-lg-3 col-md-5 col-sm-5 mb-4">
              <div class="card">
                <img class="card-img-top" src="/images/congratulations-card.jpg" alt="Congratulations">
                <div class="card-body px-0 py-3">
                  <p class="card-text m-0"><input id="congrats" type="radio" name="card-choice" value="Congratulations"><span>Congratulations</span><br><span class="price">+£3.00</span></p>
                </div>
              </div>
              <p class="card-text note mt-2">
                <textarea rows="4" id="congratsText" placeholder="Message"></textarea>
              </p>
            </div>
            <div class="col-xl-2 col-lg-3 col-md-5 col-sm-5 mb-4">
              <div class="card">
                <img class="card-img-top" src="/images/happy-birthday-card.jpg" alt="Happy birthday">
                <div class="card-body px-0 py-3">
                  <p class="card-text m-0"><input type="radio" name="card-choice" value="Happy birthday"><span>Happy birthday</span><br><span class="price">+£3.00</span></p>
                </div>
              </div>
              <p class="card-text note mt-2">
                <textarea rows="4" id="congratsText" placeholder="Message"></textarea>
              </p>
            </div>
            <div class="col-xl-2 col-lg-3 col-md-5 col-sm-5 mb-4">
              <div class="card">
                <img class="card-img-top" src="/images/thank-you-card.jpg" alt="Thank you">
                <div class="card-body px-0 py-3">
                  <p class="card-text m-0"><input type="radio" name="card-choice" value="Thank you"><span>Thank you</span><br><span class="price">+£3.00</span></p>
                </div>
              </div>
              <p class="card-text note mt-2">
                <textarea rows="4" id="congratsText" placeholder="Message"></textarea>
              </p>
            </div>
            <div class="col-xl-2 col-lg-3 col-md-5 col-sm-5 mb-4">
              <div class="card">
                <img class="card-img-top" src="/images/thinking-of-you-card.jpg" alt="Thinking of you">
                <div class="card-body px-0 py-3">
                  <p class="card-text m-0"><input type="radio" name="card-choice" value="Thinking of you"><span>Thinking of you</span><br><span class="price">+£3.00</span></p>
                </div>
              </div>
              <p class="card-text note mt-2">
                <textarea rows="4" id="congratsText" placeholder="Message"></textarea>
              </p>
            </div>
            <div class="col-xl-2 col-lg-3 col-md-5 col-sm-5 mb-4">
              <div class="card">
                <img class="card-img-top" src="/images/valentines-card.jpg" alt="Valentines">
                <div class="card-body px-0 py-3">
                  <p class="card-text m-0"><input type="radio" name="card-choice" value="Valentines"><span>Valentines</span><br><span class="price">+£3.00</span></p>
                </div>
              </div>
              <p class="card-text note mt-2">
                <textarea rows="4" id="congratsText" placeholder="Message"></textarea>
              </p>
            </div>
          </div>
          <div class="row">
            <div class="col-xl-2 col-lg-3 col-md-5 col-sm-5 mb-4">
              <div class="card selected">
                <div class="card-body px-0 py-3">
                  <p class="card-text m-0"><input type="radio" name="card-choice" checked="checked" value="None"><span>No thanks</span></p>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="modal-footer">
        <button class="snipcart-add-item btn btn-main" 
          id="snipcartButton"
          data-item-id="{{.Title | urlize}}__{{if .Params.discount_price}}{{.Params.discount_price}}{{else}}{{.Params.price}}{{end}}"
          data-item-name="{{.Title}}"
          data-item-image="{{range first 1 .Params.Images}}{{. | absURL}}{{end}}"
          data-item-price="{{if .Params.discount_price}}{{.Params.discount_price}}{{else}}{{.Params.price}}{{end}}" data-item-url="{{.Permalink}}" 
          data-item-custom1-name="Notes"
          data-item-custom1-type="textarea"
          data-item-custom2-name="Card"
          data-item-custom2-value="None"
          data-item-custom2-options="None|Congratulations[+3.00]|Happy birthday[+3.00]|Thank you[+3.00]|Thinking of you[+3.00]|Valentines[+3.00]"
          data-item-custom3-name="Card Text"
          data-item-custom3-type="textarea"
          data-item-stackable="never"
          data-item-weight="1000"
          {{ if .Params.options }}
            {{ range $index, $element := .Params.options }}
              {{ $customIndex := add $index 4 }}
              data-item-custom{{$customIndex}}-name="{{ $element.name }}"
              data-item-custom{{$customIndex}}-options="{{ $element.choices }}"
            {{ end }}      
          {{ end }}>{{i18n "add_to_cart"}}
        </button>
      </div>
    </div>
  </div>
</div>