<div id="modalSelector" class="modal" tabindex="-1" role="dialog">
  <div class="modal-dialog modal-xl" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title">Add a greeting card?</h5>
        <button id="btnSkip" class="btn btn-main btn-main-sm">Skip</button>
      </div>
      <div class="modal-body card-options">
        <div class="container">
          <div class="row">
            {{ range site.Params.cards }}
              <div class="col-xl-2 col-lg-3 col-md-5 col-sm-5 mb-4 pointer">
                <div class="card">
                  <img loading="lazy" class="card-img-top" src="{{ .image | absURL }}" alt="{{ .title }}">
                  <div class="card-body px-0 py-3">
                    <p class="card-text m-0"><input type="radio" name="card-choice" value="{{ .title }}"><span>{{ .title }}</span><br><span class="price">+£{{ .price }}</span></p>
                  </div>
                </div>
                <p class="card-text note mt-2">
                  <textarea rows="4" id="congratsText" placeholder="Message"></textarea>
                </p>
              </div>
            {{ end }}
          </div>
          <div class="row">
            <div class="col-xl-2 col-lg-3 col-md-5 col-sm-5 mb-4 pointer">
              <div class="card selected">
                <div class="card-body px-0 py-3">
                  <p class="card-text m-0"><input type="radio" name="card-choice" checked="checked" value="None"><span>No thanks</span></p>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="modal-footer">
        <button class="snipcart-add-item btn btn-main"
          id="snipcartButton"
          data-item-id="{{.Title | urlize}}__{{if .Params.discount_price}}{{.Params.discount_price}}{{else}}{{.Params.price}}{{end}}"
          data-item-name="{{.Title}}"
          data-item-image="{{range first 1 .Params.Images}}{{. | absURL}}{{end}}"
          data-item-price="{{if .Params.discount_price}}{{.Params.discount_price}}{{else}}{{.Params.price}}{{end}}" data-item-url="{{.Permalink}}"
          data-item-custom1-name="Gift note message"
          data-item-custom1-type="textarea"
          data-item-custom2-name="Greeting card"
          data-item-custom2-value="None"
          data-item-custom2-options="None{{ range site.Params.cards }}|{{ .title }}[+{{ .price }}]{{ end }}"
          data-item-custom3-name="Greeting card message"
          data-item-custom3-type="textarea"
          data-item-custom4-type="hidden"
          data-item-custom4-name="alcohol"
          {{if .Params.requireAlcoholWarning}}
            data-item-custom4-value="true"
          {{else}}
            data-item-custom4-value="false"
          {{end}}
          data-item-stackable="never"
          data-item-weight="1000"
          {{ if .Params.options }}
            {{ range $index, $element := .Params.options }}
              {{ $customIndex := add $index 5 }}
              data-item-custom{{$customIndex}}-name="{{ $element.name }}"
              data-item-custom{{$customIndex}}-options="{{ $element.choices }}"
            {{ end }}
          {{ end }}>{{i18n "add_to_cart"}}
        </button>
      </div>
    </div>
  </div>
</div>